.margin-top {
  margin-top: 20px;
}

.margin-right {
  margin-right: 10px;
}

ul .pagination {
  color:  #62D1FF;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #3BC5FF;
    border-color: #3BC5FF;
}

.pagination>li>a, .pagination>li>span {
    border-color: #3BC5FF;
    color: #3BC5FF;
}

.margin-left {
  margin-left: 10px;
}

.btn-spacing {
  margin-top: 15px;
  padding-left: 68px;
  padding-right:68px;
  margin-bottom: 15px;
}

span.fa.fa-star{
    color: #ffdf88;
    font-size: 16;
}

span.fa.fa-star.grey{
    color: #dddddd;
}
.review-style {
  margin-top: 15px;
  font-size: 16
}

label{
  font-weight: 500;
}

.panel-primary .panel-heading {
    color: #fff;
    background-color: #62D1FF;
    border-color: #62D1FF;
}

.panel-primary {
    border-color: #62D1FF;
}

.larger-p {
    color: #dddddd;
}

.dropdown-menu {
    color: #4D4D4D;
  }

.navbar-default li a {
    color: #4D4D4D;
  }
.navbar-default .navbar-brand {
  color: white;
  font-weight: 300;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
    color: white;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #CCCCCC;
    background-color: transparent;
}
.navbar-toggle {
    border: none;
}

.star-rating {
  color: #ffdf88;
}
.navbar-default {
    background-color: #4D4D4D;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border: none;
}

.btn-primary {
    background-color: transparent;
    border: 6;
    border-radius: 0;
    border-color: #3BC5FF;
    color: #262424;
}

.btn-primary:hover, btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    color: white;
    background-color: #3BC5FF;
    border-color: #3BC5FF;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #4A9DBF;
    border-color: #4A9DBF;
}

.btn-success:hover, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
      color: white;
      background-color: #4A9DBF;
      border-color: #4A9DBF;
}

.btn-success {

    border: 6;
    border-radius: 0;
    color: white;
    background-color: #3BC5FF;
    border-color: #3BC5FF;

}

.btn-danger {
    color: #fff;
    border-radius: 0;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover, .btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger, .btn-danger:hover  {
    color: #fff;
    background-color: #1A1A1A;
    border-color: #1A1A1A;
}



img {
  width: 100%;
}

.navbar{
  margin-bottom:30px;
}
